.offscreen2 {
  position: absolute;
 top: -99999px;
 right: -99999px;
}

.prescription-content p{
  line-height: 100%;
  text-wrap: wrap;
  word-break: break-word;
}

.prescription-content {
  overflow-x: hidden;
}

/* Para listas no ordenadas (viñetas) */
.prescription-content ul li::before {
  content: "• ";  /* Usa un punto como viñeta */
  font-weight: bold;
  margin-right: 5px;
  margin-left: 10px;
}

/* Para listas ordenadas (números) */
.prescription-content ol {
  counter-reset: list-counter; /* Inicializa el contador */
}

.prescription-content ol li {
  counter-increment: list-counter; /* Incrementa el contador */
}

.prescription-content ol li::before {
  content: counter(list-counter) ". "; /* Muestra el número */
  font-weight: bold;
  margin-right: 5px;
}

.ql-align-right {
  text-align: right;
}
.ql-align-left {
  text-align: left;
}
.ql-align-center {
  text-align: center;
}
.ql-align-justify {
  text-align: justify;
}
